#!/bin/bash
$env:%PROJECT_NAME_UPPERCASE%_DIR="%PROJECT_DIR%"
$env:%PROJECT_NAME_UPPERCASE%_BASH_DIR="$env:%PROJECT_NAME_UPPERCASE%_DIR/%PROJECT_NAME_LOWERCASE%-bash-scripts"
$env:%PROJECT_NAME_UPPERCASE%_ALIASES_DIR="$env:%PROJECT_NAME_UPPERCASE%_BASH_DIR/aliases"
$env:%PROJECT_NAME_UPPERCASE%_BIN_DIR="$env:%PROJECT_NAME_UPPERCASE%_BASH_DIR/bin"
$env:%PROJECT_NAME_UPPERCASE%_ENVVARS_DIR="$env:%PROJECT_NAME_UPPERCASE%_BASH_DIR/envvars"

#   env:MY_ROOT_ALIASES_DIR="env:MY_ROOT_POWERSHELL_SCRIPTS_DIR\aliases"